@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700italic);
@import url(https://fonts.googleapis.com/css?family=Puritan:400,700);
/*font-family: 'Puritan', sans-serif;*/

header {
	margin: 1% 0 0 30%;
}

header hr{
	margin: .1em 0 0 5%;
}

body {
	font-size: 16px;
/*	font-family: Arial, sans-serif;*/
	font-family: Didot, sans-serif;
	text-align: left;
	color: #0b0000;
/*	background: #F3E5AB;*/
}

p {
	text-align: justify;
	margin: 1em 0 1em 0;
	line-height: 1.5em;
}

nav {
	font-size: 1.3em;
/*	font-family: 'Puritan', sans-serif;*/
	font-weight: 700;
	text-align: left;
	margin: .5em 0 .5em 0;
}

nav a {
	padding: 0 .5em 0 .5em;
/*	margin-bottom: .8em;*/
}

a {
/*	font-family: Arial, sans-serif;*/
	text-decoration: none;
	font-family: 'Playfair Display', serif;
	color: #2d4e29;
	cursor: auto;
	font-family: Didot, sans-serif;
}

a:link:active, a:visited:active {
		color: #28160e;
}

a:visited {
	color: #933049;
}

a:hover {
	color: #af7a77;
}

ul {
	font-family: Didot, serif;
	padding: .3em 0 0 0;
	line-height: 1.5em;
}

/*li {
	font-family: Didot, serif;
	padding: .3em 0 0 0;
}*/

section {
	width: 40%;
	margin: 2% 0 4% 30%;
	text-align: justify;

}

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 3.8em;
	padding: 1.4% 0 0 0;
/*	line-height: 1.5em;*/
	/*headline*/
}

h2 {
/*	intro/kicker*/
	font-family: Didot, sans-serif;
	font-size: 1.5em;
	line-height: 1em;
}

h3 {

}

h4 {
	/*pull quote*/
	font-family: Didot, sans-serif;
	font-style: italic;
	font-size: 1.5em;
}

h5 {
	font-family: 'Playfair Display', sans-serif;
	font-size: 1.3em;
	text-transform: uppercase;
}

hr {
	width: 30em;
}

footer {
	height: 5em;
	font-size: .7em;
	text-align: center;
}

/*.breadcrumb {
	margin: 0 0 0 25%;
	background: #eee;
	border-width:1px;
	border-style: solid;
	padding: .2em .2em .2em .2em;
	width: 4em;
	height: 1.5em;
	border-top: .2em;
	border-right: 1em;
	border-bottom: .2em;
}*/

.article {
	margin: 2% 0 0 10%;
}

.logo {
	position: absolute;
	height: 5em;
	width: 5em;
	background-repeat: no-repeat;
	margin-left: 10%;
	left: 200px;
/*	padding: 10px;*/
/*	background-size: cover;*/
/*	background-repeat: no-repeat;
	background-position: left top;*/
	background:url("../css/assets/images/logo.gif") center center;
	background-size: 100%;
	background-repeat: no-repeat;
	max-width: 100%;
	float:left;

}

.fixed_bg {
	background:url("../css/assets/images/peaches.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 15em;
/*	opacity: .4;*/
/*	height: 20%;
*/}

.slogan {
	font-family: Didot, cursive;
	font-style: italic;
	text-align: center;
	color: white;
	width: 40%;
	font-size: 1.5em;
	padding: 3em;
	margin-left: 30%;
}

/*.intro {
	line-height:1.5em;
	width: 40%;
	text-align: justify;
}*/

.pull {
	margin: 0 0 0 10%;
	text-align: center;
	width: 80%;
	line-height:1.5em;
}

.column {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;

	-webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
}


/*.body {
	line-height:1.5em;
	width: 40%;
	text-align: justify;
}*/


/*.article {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}*/

